---
import AppLayout from '../layouts/AppLayout.astro';
import { SettingsView } from '../components/SettingsView';
---

<AppLayout title="Settings - YTScribe" description="Manage your account settings">
	<div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
		<SettingsView client:load />
	</div>
</AppLayout>
